@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
  box-sizing: border-box;
}
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Rubik';
  font-weight: 400;
}
.leaflet-container {
  height: 100%;
}